extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    
    each mud_file in mud_file_list
      li 
        - var fileName = mud_file.file_name
        h2 #[a(href="https://www.mfs.example.com/mudfile/" + fileName + ".json") #{mud_file.file_name}] <!-- change this line with your domain-->
        p #{mud_file.source_file}
    else
      li Thre are no mudfiles in the db (be sure to populate it).